@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Lato", sans-serif;
  background: #1a202c;
}

nav {
  position: relative;
  width: 27vw;
  margin-top: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 10;
}

nav .nav-list-wrap {
  width: 100%;
  display: block;
  float: left;
}

nav .nav-list-wrap ul {
  display: block;
  float: left;
  width: 100%;
  margin: 0;
  height: 100%;
  text-align: center;
}

nav .nav-list-wrap li {
  display: block;
  float: left;
  margin: 0 1rem;
  padding: 0;
  height: 100%;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

nav .nav-list-wrap a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #eeeeef;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

nav div.nav-element {
  border: none;
  position: relative;
  padding: 0;
  margin: 0;
}

nav div.nav-element:hover {
  border: none;
}

nav .nav-element::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom: 0;
  background: #f9b934;
  -webkit-transition: all ease-in-out 0.8s;
  transition: all ease-in-out 0.8s;
}

nav .nav-element:hover::after {
  width: 100%;
  left: 0;
}

.main-container {
  width: auto;
  overflow: hidden;
}

.main-container button.hero-portfolio-btn {
  position: absolute;
  left: 15%;
  top: 58%;
  text-transform: uppercase;
  color: #1a202c;
  background: #0099ff;
  border: none;
  border-radius: 0.187rem;
  font-size: 1.75rem;
  padding: 1rem 2rem;
}

section.hero-section {
  min-height: 100vh;
}

div.hero-title-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 15%;
  top: 35%;
}

div.hero-title-container h2.hero-text-sebastian,
div.hero-title-container h1.hero-text-mietka {
  text-transform: uppercase;
  color: #eeeeef;
  font-size: 4.5rem;
  line-height: 80%;
}

div.hero-title-container h2.hero-text-sebastian {
  letter-spacing: 0.625rem;
}

div.hero-title-container h1.hero-text-mietka {
  font-size: 7.125rem;
  letter-spacing: 0.437rem;
}

div.hero-title-container h6.hero-text-junior {
  color: #f9b934;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 0.65rem;
  padding-top: 1rem;
}

div.hero-title-container div.hero-social-wrap {
  padding-left: 0.32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.hero-title-container div.hero-social-wrap div.hero-social-icon {
  color: #f9b934;
  font-size: 4rem;
  line-height: 0;
}

.svg-laptop-phone {
  position: absolute;
  right: 10%;
  top: 12%;
}

.svg-blob {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.svg-wave {
  position: absolute;
  bottom: -1.5rem;
  right: 0;
}

section.portfolio-section {
  padding: 0 12rem;
  min-height: 100vh;
  background: #2d3748;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 800px) {
  section.portfolio-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

div.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #1a202c;
  color: #eeeeef;
  max-width: 25rem;
  border-radius: 6px;
  -webkit-box-shadow: 4px 4px 8px black;
          box-shadow: 4px 4px 8px black;
}

div.card-container div.title-container {
  padding: 2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 2.5rem;
}

div.card-container div.img-container {
  width: 100%;
  height: auto;
}

div.card-container div.img-container img {
  width: 100%;
  height: auto;
}

div.card-container div.desc-container {
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  text-align: justify;
  font-size: 1.2rem;
}

div.card-container div.btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2.5rem;
}

div.card-container .btn-livelink,
div.card-container .btn-github {
  border: none;
  border-radius: 4px;
  width: 9.5rem;
  font-size: 1.5rem;
  padding: 0.5rem 0rem;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

div.card-container .btn-livelink {
  background: #0099ff;
}

div.card-container .btn-livelink:hover {
  background: #f9b934;
}

div.card-container .btn-github {
  border: 2px solid #f9b934;
  background: transparent;
  color: #f9b934;
}

div.card-container .btn-github:hover {
  border: 2px solid #0099ff;
  color: #0099ff;
}
/*# sourceMappingURL=styles.css.map */