@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

$primary-color: #1a202c;
$secondary-color: #2d3748;
$blue: #0099ff;
$orange: #f9b934;
$text-dark: #1a202c;
$text-light: #eeeeef;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: $primary-color;
}

nav.nav-container {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  div.nav-list-wrap {
    display: flex;
    div.nav-element {
      padding: 16px, 32px;
      a.nav-element-link {
        text-decoration: none;
        text-transform: uppercase;
        color: $text-light;
        font-size: 24px;
        margin-left: 60px;
        letter-spacing: 5px;
      }
    }
    .nav-element:active,
    .nav-element:hover {
      border-bottom: 8px solid $orange;
    }
  }
}
.main-container {
  min-height: 100vh;
  width: auto;
  overflow: hidden;
  button.hero-portfolio-btn {
    position: absolute;
    left: 15%;
    top: 58%;
    text-transform: uppercase;
    color: $primary-color;
    background: #0099ff;
    border: none;
    border-radius: 3px;
    font-size: 28px;
    padding: 15px 32px;
  }
}
div.hero-title-container {
  position: absolute;
  display: flex;
  left: 15%;
  top: 35%;
  h2.hero-text-sebastian,
  h1.hero-text-mietka {
    text-transform: uppercase;
    color: $text-light;
    font-size: 72px;
    line-height: 80%;
  }
  h2.hero-text-sebastian {
    letter-spacing: 10px;
  }
  h1.hero-text-mietka {
    font-size: 114px;
    letter-spacing: 7px;
  }
  h6.hero-text-junior {
    color: $orange;
    text-transform: uppercase;
    font-size: 23px;
    letter-spacing: 10px;
    padding-top: 15px;
    // line-height: 60px;
  }
  div.hero-social-wrap {
    padding-left: 5px;
    display: flex;
    -ms-flex-align: sp;
    flex-direction: column;
    color: $orange;
    font-size: 65px;
    justify-content: space-between;
  }
}
.svg-laptop-phone {
  position: absolute;
  right: 10%;
  top: 12%;
}
.svg-blob {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.svg-wave {
  position: absolute;
  bottom: 0;
  right: 0;
}
